*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: linear-gradient(to top left, #3a1c71, #d76d77, #ffaf7b);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    border-radius: 10px;
    box-shadow: rgba(35, 35, 35, 0.4) 0px 0px 30px 0px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 24px 30px;
}

h1 {
    color: rgb(65, 65, 65);
    font-size: 4rem;
    margin-top: 0;
    text-align: center;
}

.display {
    max-width: 207px;
    padding: 10px; 
    overflow-wrap: break-word;
    border: 0;
    border-radius: 10px;
    background: white;
    margin-bottom: 10px;
}

.text {
    text-align: end;
    font-size: 1.8rem;
    margin: 0;
}

.buttons {
    /* width: 13.6rem; */
    display: grid;
    grid-template-columns: repeat(4, 25fr);
    grid-template-rows: repeat(5, 20fr);
    gap: 10px 5px;
}

.btn,
.equal {
    padding: 0.2rem;
    border: 0;
    font-size: 1rem;
    opacity: 0.75;
    cursor: pointer;
    transition: opacity 0.5s;
}

.btn {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.btn:hover,
.equal:hover {
    opacity: 1;
}

.equal {
    text-align: center;
    background: #f7ae5b;
    grid-column: 1 / -1;
    border-radius: 5px;
}

.clear {
    background: #f47270;
}